name: Docker Publish

on:
  workflow_dispatch:

env:
  IMAGE_NAME: dbt1/mediathek-importer

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push importer image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 \
            -t ${{ env.IMAGE_NAME }}:${{ github.ref_name }} \
            -t ${{ env.IMAGE_NAME }}:latest \
            -f docker/Dockerfile \
            --push .
